
body{
    max-width : 100%;
    max-height : 100%;
    background-color : gray;
}

#face{
    text-align: center;
    font-size: 75vw;
}

.centre{
    text-align: center;
    margin: 0 auto;
}

button{
    width: 90%;
    height: 100px;
    
    bottom: 30px;
    
    
}

html, body {
    margin: 0;
    height: 100%;
}

/*
main{
    max-width : 50em;
    margin : 0 auto;
    border-right : 2px;
    border-left : 2px;
    border-bottom : 2px;
    border-top : 0px;
    border-style : solid;
    background-color: white;
    
}
*/

.contain{
    width: 90%;
    height: 50%;
    border: 2px;
    margin: 0 auto;
    text-align: center;
    
}

.hide{
    display: none;
}

textarea{
    width: 100%;
    
    position: absolute;
    
    color: white;
    
    font-size: 4vw;
    
    margin-bottom: 5px;
    left: auto;
    right: auto;
    bottom: 0;
    
    resize: none;
    
    text-align: center;
    
    background-color: gray;
}

h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

p{
    text-align: center;
}
